/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@800&family=Dosis&family=Monoton&display=swap");

:root {
  --clr-yellow: #e0ff4f;
  --clr-blue: #048ba8;
  --clr-light-blue: #aec5eb;
  --clr-green: #60992d;
  --clr-dark-green: #232e21;
  --clr-red: #f71735;
  --clr-pink: #ff2ecc;
  --clr-violet: #74226c;
  --clr-black: black;
  --clr-white: white;

  --font-special-big: "Monoton", cursive;
  --font-special: "Big Shoulders Inline Text", cursive;
  --font-normal: "Dosis", sans-serif;

  --height-navbar: 105px;
  --height-footer: 135px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
h1,
h2,
h3 {
  font-family: var(--font-special);
  color: var(--clr-black);
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.7em;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.9em;
}

p {
  font-family: var(--font-normal);
  font-size: 1rem;
  color: var(--clr-black);
  margin-bottom: 1em;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  p,
  input,
  select {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1650px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  p,
  input,
  select {
    font-size: 1.8rem;
  }
}

/* Button and input */
.link-button,
button {
  font-family: var(--font-special);
  font-size: 1.8em;
  padding: 1.2rem 2rem;
  margin: 0.5rem;
  color: var(--clr-black);
  background-color: var(--clr-yellow);
  border-radius: 5px 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.link-button:focus,
.link-button:hover,
button:hover,
button:focus {
  background-color: var(--clr-violet);
  color: var(--clr-white);
  box-shadow: 0 0 10px rgba(255, 255, 2550.8);
}

@media screen and (min-width: 700px) {
  .link-button,
  button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1650px) {
  .link-button,
  button {
    font-size: 3rem;
  }
}

.link-button {
  text-decoration: none;
  display: inline-block;
}

input,
select {
  font-family: var(--font-normal);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--clr-light-blue);
  transition: all 0.3s ease;
}

select:hover,
select:focus,
input:hover,
input:focus {
  background-color: var(--clr-white);
  box-shadow: 0 0 10px rgba(255, 255, 2550.8);
}

/* Layout */

nav {
  padding: 1rem;
  background-color: var(--clr-violet);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.navbar-logo {
  padding-left: 1rem;
  color: var(--clr-yellow);
  font-family: var(--font-special-big);
  text-decoration: none;
  font-size: 2.1rem;
}

.navbar-logo--blue {
  color: var(--clr-blue);
}

.navbar-list {
  list-style: none;
  align-items: center;
}

.navbar-list.closed {
  display: none;
}

.navbar-list__item {
  color: var(--clr-blue);
  transition: all 0.3s ease;
}

.navbar-list__item:nth-child(2n + 1) {
  color: var(--clr-yellow);
}

.navbar-list__item:hover,
.navbar-list__item:focus {
  color: var(--clr-light-blue);
  text-shadow: 0 0 10px rgba(255, 255, 2550.8);
}

.navbar-list__item__link {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  display: block;
  text-decoration: none;
  font-family: var(--font-special);
  color: inherit;
}

.navbar-username {
  text-transform: capitalize;
}

.navbar-button {
  padding: 0.8rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

.navbar-button:hover,
.navbar-button:focus {
  background-color: var(--clr-blue);
}

/*  Hamburger and cross in navbar button  */

.navbar-button span,
.navbar-button span::before,
.navbar-button span::after {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--clr-black);
  border-radius: 30%;
  z-index: 1;
}

.navbar-button span {
  margin-block: 0.5rem;
  position: relative;
  transition: all 0.6s ease;
}

.navbar-button span::before {
  content: "";
  position: absolute;
  top: 10px;
}

.navbar-button span::after {
  content: "";
  position: absolute;
  bottom: 10px;
}

.navbar-button.clicked span {
  transform: rotate(-45deg);
}

.navbar-button.clicked span::after {
  top: 0;
  transform: rotate(90deg);
}

.navbar-button.clicked span::before {
  opacity: 0;
}
/*  -------  */

.background-wrapper {
  width: 100%;
  background-color: var(--clr-blue);
  background-image: url("../static/images/background.jpeg");
}

.max-width-wrapper {
  margin-inline: auto;
  padding: 1rem;
  max-width: 1750px;
  min-height: calc(100vh - var(--height-footer) - var(--height-navbar));
}

footer,
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer {
  font-family: var(--font-normal);
  background-color: var(--clr-green);
  padding: 2rem;
  flex-direction: column;
}

.pexel_footer {
  height: 25px;
}

@media screen and (min-width: 900px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--height-navbar);
  }

  .navbar-logo {
    font-size: 2.8rem;
  }

  .navbar-list,
  .navbar-list.closed {
    display: flex;
  }

  .navbar-list__item__link {
    font-size: 2.2rem;
  }

  .navbar-button {
    display: none;
  }
  .max-width-wrapper {
    padding: 3rem;
  }

  footer {
    height: var(--height-footer);
  }
}

/* Index */

.logo {
  font-size: 1em;
  font-family: var(--font-special-big);
  font-weight: 100;
}

.logo--yellow {
  color: var(--clr-yellow);
}

.get-started-form {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .index-wrapper {
    padding-inline: 2rem;
  }
  .get-started-form {
    justify-content: flex-end;
  }

  .logo {
    font-size: 1.2em;
  }
}

/* Specify */

.game-form,
.specify-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specify-wrapper {
  padding-block: 2rem;
  gap: 1.2rem;
  text-align: center;
}

.game-form input,
.game-form select {
  width: 100%;
}

/* Login and register */

.login-form {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.login-form input {
  min-width: 300px;
}

.login-text {
  text-align: center;
}

.login-text a {
  color: var(--clr-yellow);
}

@media screen and (min-width: 900px) {
  .login-form input {
    min-width: 550px;
    font-weight: 300;
  }
}

/* Scores */

.scores-table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--font-normal);
  margin-bottom: 1.5rem;
}

.scores-table__head {
  font-family: var(--font-special);
  font-size: 1.2rem;
  text-align: left;
}

.scores-table__head__row th {
  padding: 0.5rem;
}

.scores-table__row td {
  padding: 0.5rem;
  border-bottom: 1px black solid;
  font-size: 0.8rem;
}

@media screen and (min-width: 900px) {
  .scores-table__head {
    font-size: 2rem;
  }

  .scores-table__row td {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1650px) {
  .scores-table__head {
    font-size: 3.2rem;
  }

  .scores-table__row td {
    font-size: 2rem;
  }
}

/* My account */

.photo-card__icon-text,
.photo-card-container,
.photo-card {
  display: flex;
}

/* Cards also in game page */
.photo-card-container {
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 1rem;
}

/* Fixes last item grow in flex box */
.photo-card-container::after {
  content: "";
  flex-grow: 100;
}

.photo-card {
  padding: 1rem;
  border-radius: 5px;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--clr-white);
  flex-grow: 1;
}

.photo-card__image {
  object-fit: cover;
  width: 100%;
  height: 16rem;
}

.photo-card__icon-text {
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: var(--clr-black);
  text-decoration: none;
}

.photo-card__icon-text p {
  margin: 0;
  transition: color 0.3s ease;
}

.photo-card__icon-text p:hover {
  color: var(--clr-light-blue);
}

.photo-card__button {
  background: none;
  font-family: var(--font-normal);
  font-size: inherit;
  padding-block: 0.5rem;
  padding-inline: 0;
  margin: 0;
}

.photo-card__button:focus,
.photo-card__button:hover {
  padding-block: 0.5rem;
  border-radius: 5px;
  padding-left: 40%;
}

.photo-card__button--delete:focus,
.photo-card__button--delete:hover {
  background-color: var(--clr-red);
}

.photo-card__button--like:focus,
.photo-card__button--like:hover {
  background-color: var(--clr-light-blue);
}

/* Game */

.game-wrapper {
  overflow: hidden;
}

.game-cards-container {
  display: grid;
  gap: 0.25rem;
}

.game-over-container {
  position: relative;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease;
}

.score-text {
  transition-delay: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
}

.game-cards-container.pairs6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.game-cards-container.pairs12 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.game-cards-container.pairs18 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

@media screen and (min-width: 700px) {
  .game-cards-container {
    gap: 0.5rem;
  }
  .game-cards-container.pairs6 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .game-cards-container.pairs12 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .game-cards-container.pairs18 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .game-cards-container {
    gap: 1rem;
  }
  .game-cards-container.pairs6 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .game-cards-container.pairs12 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .game-cards-container.pairs18 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .game-cards-container.pairs18 {
    grid-template-columns: repeat(12, 1fr);
  }
}

.game-over-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.game-over-button-container > * {
  flex-grow: 1;
}

@media screen and (min-width: 700px) {
  .game-over-button-container > * {
    flex-grow: 0;
  }
}

/* Game cards  */
.game-card {
  border-radius: 5px 15px;
  border: solid 2px var(--clr-violet);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.game-card__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Image is hidden under game card  */
.game-card::after {
  --border-size: 2px;
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px 15px;
  border: solid var(--border-size) var(--clr-violet);
  z-index: 5;
  width: calc(100% + 2 * var(--border-size));
  height: calc(100% + 2 * var(--border-size));
  top: calc(-1 * var(--border-size));
  left: calc(-1 * var(--border-size));
  background-image: url("../static/images/card_back.jpg");
  background-color: var(--clr-yellow);
  background-size: cover;
  transition: all 0.6s ease;
}

/* Flipped card */
.game-card.flipped::after {
  transform-origin: top left;
  transform: rotate(90deg);
}

/* No match */
.game-card.flipped.no-match {
  box-shadow: 0 0 20px var(--clr-red);
  transition: box-shadow 0.6s ease;
  animation: shake 0.5s;
}

/* Matching cards  */
.game-card.flipped.match {
  animation: grow-and-shrink 0.5s;
  animation-fill-mode: forwards;
}

#score_output {
  padding-left: 0.5rem;
  position: absolute;
  transition: all 0.5s;
}

/* Add points */
#score_output.add-points {
  animation: up-and-down 0.5s;
}

.game-card.game-over {
  animation: shake 0.5s;
}

/* Fade out and shrink container */
.play-game-container.game-over {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-delay: 1s;
}

/* Push away score text */
.score-text.game-over {
  position: relative;
  transform: translate(200%, -500%);
}

/* Show game over screen  */
.game-over-container.game-over {
  opacity: 1;
  transform: scale(1);
  height: 100%;
}

/* Animations */
@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }

  5% {
    box-shadow: 0 0 50px var(--clr-green);
  }

  50% {
    transform: scale(1.1);
  }

  95% {
    box-shadow: 0 0 10px var(--clr-green);
  }

  100% {
    transform: scale(0.9);
    box-shadow: none;
  }
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-100%);
    opacity: 0;
  }

  55% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
