<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href=" ../static/style.css" rel="stylesheet" />
    <link href="../static/favicon.ico" rel="icon" />
    {% block script %}{% endblock %}
    <script defer src="../static/layout.js"></script>
    <title>Memory: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--Navigation bar-->
    <nav>
      <a class="navbar-logo" href="/">
        M
        <span class="navbar-logo--blue">E</span>
        M
        <span class="navbar-logo--blue"> O </span>
        RY
      </a>

      <ul class="navbar-list closed" id="navbar-list">
        <li class="navbar-list__item">
          <a class="navbar-list__item__link" href="/specify">Play!</a>
        </li>
        <li class="navbar-list__item">
          <a class="navbar-list__item__link" href="/scores">Scores</a>
        </li>

        {% if session.user_id %}

        <li class="navbar-list__item">
          <a class="navbar-list__item__link" href="/logout">Log out</a>
        </li>
        <li class="navbar-list__item">
          <a class="navbar-list__item__link" href="/myaccount"
            >Hi, <span class="navbar-username">{{ username }}</span></a
          >
        </li>

        {% else %}

        <li class="navbar-list__item">
          <a class="navbar-list__item__link" href="/login">Log in</a>
        </li>
        <li class="navbar-list__item">
          <a class="navbar-list__item__link" href="/register">Register</a>
        </li>
        {% endif %}
      </ul>
      <button type="button" class="navbar-button" id="navbar-button">
        <span></span>
      </button>
    </nav>

    <!--Main section-->
    <main class="background-wrapper">
      <div class="max-width-wrapper">{% block main %}{% endblock %}</div>
    </main>

    <footer>
      <div>Memory by Kamil Petryniak</div>
      <div class="footer-text">
        <span>Photos provided by </span>
        <a href="https://www.pexels.com"
          ><img
            class="pexel_footer"
            src="https://images.pexels.com/lib/api/pexels.png"
        /></a>
      </div>
    </footer>
  </body>
</html>
