{% extends "layout.html" %} {% block title %} Log in {% endblock%}
<!---->
{% block main %}

<form class="login-form" action="/register" method="POST">
  <input
    type="text"
    autocomplete="off"
    autofocus
    name="username"
    placeholder="Username"
    required
  />

  <input
    type="password"
    name="password"
    placeholder="Password (+5 characters, special sign)"
    minlenght="4"
    required
  />

  <input
    type="password"
    name="confirmation"
    placeholder="Repeat password"
    required
  />

  <button type="submit">Register</button>
</form>

<p class="login-text">Already have an account? <a href="/login">Login!</a></p>

{% endblock %}
