{% extends "layout.html" %} {% block title %} Scores {% endblock%}
<!---->
{% block main %}

<h1>Our Top 10 players and their scores:</h1>

<table class="scores-table">
  <thead class="scores-table__head">
    <tr class="scores-table__head__row">
      <th>Number</th>
      <th>Score</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for score in top_scores %}
    <tr class="scores-table__row">
      <td>{{ loop.index }}</td>
      <td>{{ score.score }}</td>
      <td>{{ score.username | upper }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
