{% extends "layout.html" %} {% block title %} Tailor your game! {% endblock%}
<!---->
{% block main %}
<div class="specify-wrapper">
  <h1>Craft your game!</h1>
  <p>
    Here you can personalize your experience. Choose the theme of the game and
    pick with how many card you will play.
  </p>

  <form class="game-form" action="/game" method="POST">
    <input
      name="game_theme"
      type="text"
      placeholder="Type something ..."
      required
    />

    <select name="cards_quantity" required>
      <option selected disabled>Choose how many cards to play with</option>
      <option value="12">12</option>
      <option value="24">24</option>
      <option value="36">36</option>
    </select>

    <button type="submit">Start game!</button>
  </form>

  <p>Or simply:</p>

  <form action="/game" method="POST">
    <input name="cards_quantity" value="12" type="hidden" />
    <input name="game_theme" value="no_users_input" type="hidden" />
    <button type="submit">Quick start!</button>
  </form>
</div>

{% endblock %}
